In [2]:
import pandas as pd

In [6]:
Xtrain = pd.read_csv('xtrain.csv', index_col=0)
Xtrain
ytrain = pd.read_csv('ytrain.csv', index_col=0)
ytrain

       prdtypecode
0               10
1             2280
2               50
3             1280
4             2705
...            ...
84911           40
84912         2583
84913         2280
84914         1560
84915         2522

[84916 rows x 1 columns]